# Allow audioserver to create socket files for audio arbitration
allow audioserver audio_device:sock_file { create setattr unlink };
allow audioserver audio_device:dir remove_name;
