# Allow mediaserver to create socket files for audio arbitration
allow mediaserver audio_device:sock_file { create setattr unlink };
allow mediaserver audio_device:dir remove_name;
